---
import Layout from '@src/layouts/Layout.astro';
---

<!-- 職務経歴（スペックシート）的なページを作りたい -->
<Layout title="岡 英紀">
  <div class="h-full">
    <!-- TODO: 写真を追加する -->
    <h1>岡 英紀</h1>
    <p class="text-sm">
      <!-- TODO: 自己紹介を追加する -->
    </p>
    <div>
      <!-- TODO: 関わってきたプロジェクトの概要を書く -->
    </div>
  </div>
</Layout>
