---
import Layout from "@src/layouts/Layout.astro";
import logo from "/hidenorioka.svg";
---

<Layout title="hidenorioka">
  <div class="h-full flex justify-center items-center">
    <img src={logo} alt="hidenorioka" width="800" />
  </div>
</Layout>
