---
import Layout from "@src/layouts/Layout.astro";
import Card from "@src/components/Card.astro";
import type { MDXLayoutProps } from "astro";

interface MDXProps
  extends MDXLayoutProps<{
    title: string;
    date: string;
  }> {}

const posts = await Astro.glob<MDXProps["frontmatter"]>("./*.mdx");

const getWrapperStyle = (index: number) => {
  return index === 0 ? { class: "col-span-2" } : null;
};
---

<Layout title="記事一覧">
  <div class="h-full">
    <div class="my-8">
      <h1 class="text-2xl text-center">記事一覧</h1>
    </div>
    <div class="grid grid-cols-2 gap-4">
      {
        posts.map((post, index) => (
          <div {...getWrapperStyle(index)}>
            <Card
              title={post.frontmatter.title}
              href={post.url ?? ""}
              date={post.frontmatter.date}
            />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
