---
export interface Props {
  title: string;
  href: string;
  date: string;
}

const { title, href, date } = Astro.props;
---

<div class="rounded-sm bg-white">
  <a class="block p-4" href={href}>
    <div class="text-xs mb-2">{date}</div>
    <div class="text-xl whitespace-nowrap overflow-hidden text-ellipsis">
      {title}
    </div>
  </a>
</div>
