---
---

<header
  class="w-full h-[var(--header-height)] flex justify-center items-center"
>
  <nav>
    <ul class="flex justify-center gap-4">
      <li><a href="/">Home</a></li>
      <li><a href="/post">Post</a></li>
    </ul>
  </nav>
</header>
